@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Math&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#introSection::before{
    content: '';
    background: url("/static/bg.jpg") no-repeat center center/cover;
    position: absolute;
    height: 55.49vw;
    width: 100vw;
    z-index: -2;
    opacity: 8.88;
    top: 0vw;
}
#introSection{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'STIX Two Math', serif;
    font-size: 4.76vw;
    align-items: center;
    height: 55.49vw;
}

#introSection div.small{
    font-size: 3.81vw;
    padding: 0.37vw;
}
#aboutSection{
    display: flex;
    margin: 4.03vw;
    padding: 1.9vw;
    justify-content: center;
    align-items: center;
    height: 40.56vw;
}
#aboutItem{
    margin: 1.32vw;
    width: 50%;
    padding-right: 4.69vw;
}
#aboutItem h1{
    font-size: 2.78vw;
    font-family: 'STIX Two Math', serif;
    color: #000f44;
}
#aboutItem p{
    font-size: 1.32vw;
    font-family: 'STIX Two Math', serif;
}
#aboutItem a{
    text-decoration: none;
    background-color: rgb(22 46 58);
    margin-top: 0.29vw;
    padding: 0.88vw;
    border-radius: 0.59vw;
    color: white;
}
#aboutItem a:hover{
    color: rgb(64, 202, 83);
}

#aboutSection img{
    height: 33.24vw;
}
#servicesSection{
    background-color: rgb(22 46 58);
    height: 81.55vw;
}
#servicesSection h1{
    text-align: center;
    font-size: 3vw;
    padding-top: 3.22vw;
    color: white;
}
#services{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4rem;
    justify-content: center;
    margin: 4.69vw;
    padding: 4.69vw;
    margin-left: 7.32vw;
    margin-right: 7.32vw;
    font-family: 'STIX Two Math', serif;
    text-align: center;
    
}
#services h2{
    padding: 1.17vw;
    font-size: 1.76vw;
}
#services p{
    padding: 0.15vw;
    font-size: 1.02vw;

}
#services .item{
    height: 25.62vw;
    background-color: rgb(239 239 239);
    border-radius: 1.1vw;
    box-shadow: -0.73vw 0.73vw 0.37vw rgb(0 0 0 / 30%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3.95vw;
    
}
#services .item:hover{
    background-color: white;
    box-shadow: -2.2vw 2.2vw 1.46vw rgba(0,0,0,0.3);
    transition: all 0.4s ease 0s;
}
#services img{
    height: 5.86vw;
}
#projectsSection{
    background-color: rgb(249 249 249);
    height: 52.05vw;
}
#projectsSection h1{
    text-align: center;
    font-size: 2.93vw;
    padding-top: 3.22vw;
}
#projects{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2rem;
    justify-content: center;
    margin: 5.49vw;
    padding: 5.49vw;
    font-family: 'STIX Two Math', serif;
    text-align: center;
    
}
#projects h2{
    padding: 0.51vw;
    font-size: 1.61vw;
}
#projects p{
    padding: 0.15vw;
    font-size: 1.02vw;

}
#projects .item{
    height: 23.43vw;
    background-color: rgb(239 239 239);
    border-radius: 0.15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
#projects .item:hover{
    background-color: white;
    box-shadow: 0vw 0.73vw 0.51vw rgba(0,0,0,0.3);
    transition: all 0.4s ease 0s;
}
#projects img{
    height: 10.98vw;
}