@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Math&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #dae1e7;
    font-family: 'STIX Two Math', serif;
}
.container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 106.59vw;
    grid-gap: 2rem;
}

.left{
    background-color: rgb(22 46 58);
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 4.83vw;
    padding-top: 2.34vw;
}
.name{
    padding: 0.88vw;
    border: 0.15vw solid white;
    margin: 0.59vw;
    font-size: 1.46vw;
}
.left h2{
    font-size: 2.05vw;
}
.left li{
    margin: 0.29vw;
    padding: 0.15vw;
}
.left li a{
    margin: 0.29vw;
    padding: 0.15vw;
    color: white;
}
.xp5{
    border: 0.15vw solid white;
    margin: 0.59vw;
}
.xp4{
    border: 0.15vw solid white;
    width: 11.57vw;
    margin: 0.59vw;
}
#topbox{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.32vw;
    padding: 2.93vw;
    margin-top: 6vw;
    box-shadow: -0.73vw 0.73vw 0.37vw rgb(0 0 0 / 30%);
}
#topbox a{
    text-decoration: none;
    background-color: rgb(22 46 58);
    margin-top: 0.29vw;
    padding: 0.88vw;
    border-radius: 0.59vw;
    color: white;
}
#topbox a:hover{
    color: rgb(64, 202, 83);
}
#topbox img{
    height: 8.49vw;
    border-radius: 1.76vw;
}
#details{
    margin: 4.69vw;
}